<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="learning_activity.My.MySettings.learning_activityConnectionString"
            connectionString="server=localhost;user id=root;database=learning_activity;characterset=utf8;treatblobsasutf8=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="learning_activity.My.MySettings.learning_activityConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=learning_activity"
            providerName="MySql.Data.MySqlClient" />
        <add name="learning_activity.My.MySettings.learning_activityConnectionString2"
            connectionString="server=localhost;user id=root;password=;database=learning_activity"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>